:root{
    --cor0: #011F26;
    --cor1: #025E73;
    --cor2: #F2A71B;
    --cor3: #A5A692;
    --cor4: #BFB78F;
    --cor5: #03A678;
}

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lusitana:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Lusitana:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.contaimer {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.card {
    padding: 20px;
    flex: 1;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
    }

    .card {
        flex: 1 1 45%;
    }
}

header{
    background-image: linear-gradient(to bottom,#025E73, #011f26e5);
    min-width: 500px;
    max-width: 1000px;
    padding-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

nav{
    display: flex;
    unicode-bidi: isolate;
    height: 8vh;
}

nav > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}
.botao{
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
    transition: 0.8s;
}

.botao:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
header > h1{
    text-align: center;
    color: #F2A71B;
    font-family: "Bebas Neue", sans-serif;
    padding-bottom: 20px;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-indent: 30px;
    text-align: justify;
    font-weight: bold;
}
body{
    margin: 0;
}
article{
}
article h2{
    color: var(--cor1);
    font-family: "Alice", serif;
    font-size: 30px;

}

article h3{
    background-image: linear-gradient(to right, var(--cor0), transparent);
    color: #ffffff;
}
main{
    min-width: 400px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
}
main img.pequena{
    width: 100%;
    display: block;
    max-width: 450px;
    margin: 0 auto;
}